<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checo's Final Project</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1 class="checo-title">Welcome</h1>
    <p>This is Chekonomist's final project</p>
  </body>
</html>
